<h1>A kölcsönzés feltételei</h1>
<ul>
    <li>A felhasználó nem tehet kárt a készülékben.</li>
    <li>A felhasználó nem módosíthatja a készülék operációs rendszerét</li>
    <li>A felhasználó köteles visszaadni a kijelölt határidőig a készüléket</li>
    <li>A felhasználó nem kártyafüggetlenítheti a készüléket</li>
    <li>A felhasználó minden esztétikai sérülést köteles megtéríteni</li>
</ul>
