@{
    ViewBag.Title = "Hírek";
}
@section featured {
    @if (!Request.IsAuthenticated) {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Az oldal használatához jelentkezz be!</h2>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
    }
}
<div class="float-left">
    <h3>Üdvözöllek az AMORG mobilkölcsönző oldalán!</h3>
</div>
<div class="float-right">
    <!-- Sidebar > twitter -->
    <div id="twitter" class="boxed">
    </div>
</div>
@section Styles {
    <style type="text/css">
        #twitter
        {
            margin-bottom: 10px;
        }
    </style>
}

@section Scripts {
    <script type="text/javascript" src="https://twitter-widgets.s3.amazonaws.com/j/2/widget.js"></script>
    <script type="text/javascript">
        new TWTR.Widget({
            version: 2,
            id: 'twitter',
            type: 'profile',
            rpp: 10,
            interval: 6000,
            width: '380',
            height: 320,
            theme: {
                shell: {
                    background: '#7AC0DA',
                    color: '#ffffff'
                },
                tweets: {
                    background: '#ffffff',
                    color: '#000000',
                    links: '#8c2533'
                }
            },
            features: {
                scrollbar: true,
                loop: false,
                live: false,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
            }
        }).render().setUser('bme_amorg_lite').start();
    </script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
}
