@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>Hírek:</h3>
    <!-- Sidebar > twitter -->
    <div id="twitter" class="boxed">
    </div>
@section Styles {
    <style type="text/css">
        #twitter
        {
            margin-bottom: 10px;
        }
    </style>
}

@section Scripts {
    <script type="text/javascript" src="https://twitter-widgets.s3.amazonaws.com/j/2/widget.js"></script>
    <script type="text/javascript">
        new TWTR.Widget({
            version: 2,
            id: 'twitter',
            type: 'profile',
            rpp: 10,
            interval: 6000,
            width: 'auto',
            height: 200,
            theme: {
                shell: {
                    background: '#7AC0DA',
                    color: '#ffffff'
                },
                tweets: {
                    background: '#ffffff',
                    color: '#000000',
                    links: '#8c2533'
                }
            },
            features: {
                scrollbar: true,
                loop: false,
                live: false,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
            }
        }).render().setUser('bme_amorg_lite').start();
    </script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
}
